* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Knewave, sans-serif;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
}

h1 {
    margin: 50px;
    font-size: 60px;
}

#rock-title {
    color: orange;
}
#paper-title {
    color: blue;
}
#scissors-title {
    color: rgb(255, 0, 34);
}

.choice {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
}

button {
    width: 200px;
    height: 200px;
    padding: 0px 50px;
    font-size: 25px;
    border-radius: 30px;
    background-color: antiquewhite;
}
.button-clicked {
    background-color: rgb(172, 148, 117);
}

.tie {
    color: orange;
}
.win {
    color: green;
}
.lose {
    color: red;
}

.result, .scoreboard {
    font-size: 30px;
}

h3 {
    margin-bottom: 30px;
    font-size: 40px;
}
.human-score {
    color: orange;
}
.computer-score {
    color: blue;
}
.score {
    color: black;
}

.winOrLose {
    font-size: 40px;
}